/**
 * @author:Albert
 */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
li {
  color: #666;
}
.main {
  display: flex;
  width: 210mm;
  height: 297mm;
  overflow: hidden;
  background: #f2f2f2;
  box-shadow: 0 0 0 1px black;
}
.leftPart {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  background: white;
  box-shadow: 0 0 5.5mm 1.5mm #b3b3b3;
  z-index: 2;
}
.rightPart {
  display: flex;
  flex-direction: column;
  flex: 2.3;
  height: 100%;
}
.leftPart-sub {
  width: 100%;
}
.leftPart-sub1 {
  width: 100%;
  height: 12mm;
}
.leftPart-sub2 {
  width: 100%;
  flex: 1;
}
.leftPart-sub3 {
  width: 100%;
  flex: 2;
}
.leftPart-sub1 {
  font-size: 8mm;
  line-height: 12mm;
  text-align: center;
  color: #c1c1c1;
}
.leftPart-sub2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #51b2f9;
}
.leftPart-sub2Avatar {
  width: 36mm;
  height: 36mm;
  border-radius: 50% 50%;
  background: url("../img/avatar.jpg") center center no-repeat, linear-gradient(white, white) center center repeat;
  background-size: contain,100% 100%;
}
.leftPart-sub2Name {
  color: white;
  letter-spacing: 1mm;
  text-align: center;
  margin: 3mm 0;
}
.leftPart-sub2-Line1 {
  background: #0665ab;
  margin: 0 0 2mm 0;
  width: 40mm;
  height: .8mm;
}
.leftPart-sub2-Motto {
  color: #0665ab;
  font-size: 70%;
  line-height: 1.5em;
}
.leftPart-sub2-Job {
  color: #0665ab;
  font-size: 4.5mm;
  margin: 0 0 5mm 0;
  padding: 1mm 3mm;
  background: white;
  border-radius: 4mm;
}
.leftPart-sub3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.leftPart-sub3-prize {
  color: white;
  margin: 12mm 0 0;
  padding: 2mm 3mm;
  font-size: 6mm;
  letter-spacing: 1mm;
  font-weight: bold;
  align-self: flex-start;
  background: #51b2f9;
}
.leftPart-sub3-contact {
  color: white;
  margin: 12mm 0 0;
  padding: 2mm 3mm;
  font-size: 6mm;
  letter-spacing: 1mm;
  font-weight: bold;
  align-self: flex-start;
  background: #51b2f9;
}
.leftPart-sub3-prizeUl {
  line-height: 2.5em;
  padding: 0;
}
.leftPart-sub3-contactUl {
  line-height: 2.5em;
  padding: 0;
}
.leftPart-sub3-contactUl > li {
  position: relative;
  list-style-type: none;
}
.contactDetail {
  color: #666;
  text-decoration: none;
}
.rightPart-sub {
  width: 100%;
  padding: 0 0 6mm;
}
.rightPart-sub1 {
  padding: 0 0 6mm;
  height: 12mm;
  width: 100%;
}
.rightPart-sub2 {
  padding: 0 0 6mm;
  position: relative;
  box-shadow: 1mm -1mm 1mm 1mm #e6e6e6;
  width: 100%;
  background: #f9f9f9;
}
.rightPart-sub2::before {
  position: absolute;
  content: " ";
  right: 20mm;
  height: 10mm;
  width: 17mm;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  box-shadow: 0 -1mm 3mm 1mm #e6e6e6 inset;
}
.rightPart-sub3 {
  padding: 0 0 6mm;
  position: relative;
  box-shadow: 1mm -1mm 1mm 1mm #e6e6e6;
  width: 100%;
  background: #f9f9f9;
}
.rightPart-sub3::before {
  position: absolute;
  content: " ";
  right: 20mm;
  height: 10mm;
  width: 17mm;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  box-shadow: 0 -1mm 3mm 1mm #e6e6e6 inset;
}
.rightPart-sub4 {
  padding: 0 0 6mm;
  position: relative;
  box-shadow: 1mm -1mm 1mm 1mm #e6e6e6;
  width: 100%;
  background: #f9f9f9;
}
.rightPart-sub4 {
  width: 100%;
  padding: 0 0 6mm;
  flex: 1;
}
.rightPart-sub4::before {
  position: absolute;
  content: " ";
  right: 20mm;
  height: 10mm;
  width: 17mm;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  box-shadow: 0 -1mm 3mm 1mm #e6e6e6 inset;
}
.rightPart-subHidden1 {
  position: absolute;
  top: -9mm;
  right: 29.9mm;
  height: 13mm;
  width: 13mm;
  background: radial-gradient(at 0% 100%, transparent 50%, #f9f9f9 0) center center no-repeat;
  background-size: 100% 100%;
}
.rightPart-subHidden2 {
  position: absolute;
  top: -9mm;
  right: 14mm;
  height: 13mm;
  width: 13mm;
  background: radial-gradient(at 100% 100%, transparent 50%, #f9f9f9 0) center center no-repeat;
  background-size: 100% 100%;
}
.rightPart-subHidden3 {
  position: absolute;
  top: -9mm;
  right: 26mm;
  height: 13mm;
  width: 5mm;
  background: #f9f9f9 center center no-repeat;
  background-size: 100% 100%;
}
.rightPart-sub2Hidden1 {
  position: absolute;
  top: -9mm;
  right: 29.9mm;
  height: 13mm;
  width: 13mm;
  background: radial-gradient(at 0% 100%, transparent 50%, #f2f2f2 0) center center no-repeat;
  background-size: 100% 100%;
}
.rightPart-sub2Hidden2 {
  position: absolute;
  top: -9mm;
  right: 14mm;
  height: 13mm;
  width: 13mm;
  background: radial-gradient(at 100% 100%, transparent 50%, #f2f2f2 0) center center no-repeat;
  background-size: 100% 100%;
}
.rightPart-sub2Hidden3 {
  position: absolute;
  top: -9mm;
  right: 26mm;
  height: 13mm;
  width: 5mm;
  background: #f2f2f2 center center no-repeat;
  background-size: 100% 100%;
}
.rightPart-sub2Hidden4 {
  position: absolute;
  top: 4mm;
  right: 23.5mm;
  height: 3mm;
  width: 10mm;
  background: #f2f2f2 center center no-repeat;
  border-radius: 0 0 50% 50% / 0 0 70% 70%;
  background-size: 100% 100%;
}
.rightPart-subContent {
  height: 100%;
  width: 90%;
  margin: 0 auto;
}
.rightPart-subTitle {
  color: #51b2f9;
}
.rightPart-subTitle::after {
  display: block;
  content: " ";
  margin: 2mm 0 0;
  background: #ccc;
  width: 100%;
  height: .2mm;
}
.projectTable {
  display: table;
  width: 100%;
  position: relative;
  z-index: 3;
}
.projectRow {
  display: table-row;
}
.projectCell1 {
  top: 1mm;
  position: relative;
  display: table-cell;
  width: 13mm;
  overflow: hidden;
}
.projectVerticalLine {
  position: absolute;
  height: 100%;
  width: .2mm;
  top: 3mm;
  left: 5.8mm;
  background: #ccc;
}
.projectCircle1 {
  position: absolute;
  height: 4.5mm;
  width: 4.5mm;
  left: 3.6mm;
  border-radius: 50% 50%;
  background: radial-gradient(at center center, #f2f2f2 30%, #51b2f9 0) center center no-repeat;
}
.projectCell2 {
  display: table-cell;
  position: relative;
  padding: 0 0 2mm;
}
.projectName {
  color: #51b2f9;
  font-size: 5mm;
  display: inline-block;
  text-decoration: underline;
}
.projectHighLightItems {
  position: absolute;
  right: 0;
  display: inline-block;
  font-size: 4mm;
  vertical-align: middle;
}
.projectHighLightItem {
  position: relative;
  display: inline-block;
  font-size: 3mm;
  vertical-align: middle;
  padding: 1mm 1.5mm;
  background: #51b2f9;
  color: white;
  line-height: 1.5em;
  z-index: 2;
}
.projectHighLightLine {
  position: absolute;
  top: 3mm;
  width: 100%;
  height: .8mm;
  background: #51b2f9;
}
.projectOutline {
  font-size: 3mm;
  color: #666;
}
.projectDetail {
  padding: 0 0 0 3mm ;
  font-size: 2.5mm;
  margin: 1mm 0;
}
.skillTable {
  display: table;
  background: #51b2f9;
  width: 90%;
  margin: 2mm auto;
  border: 0.7mm solid #51b2f9;
  position: relative;
  z-index: 3;
}
.skillTable-left {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 15mm;
  height: 10mm;
  background: #51b2f9;
  color: #f9f9f9;
}
.skillTable-wrapper {
  display: inline-block;
}
.skillTable-right {
  display: table-cell;
  font-size: 2mm;
  vertical-align: middle;
  background: #f9f9f9;
  color: #666;
  padding: 0 0 0 2mm;
}
.skillTable-right > ul {
  padding: 0 5mm;
}
.ecnu {
  position: absolute;
}
.sjtu {
  position: absolute;
  left: 50%;
}
.university-name {
  color: #51b2f9;
  font-size: 5mm;
  font-weight: bold;
  line-height: 2em;
}
.university-time {
  color: #0882dc;
  font-size: 3.5mm;
  line-height: 2em;
}
.university-major {
  color: #666;
  font-size: 4mm;
  line-height: 2em;
}
.university-grade {
  color: #666;
  font-size: 4mm;
  line-height: 2em;
}
